h1{
    text-align: center;
    }
    body{
        margin: 0px;
        font-family:"Montserrat", sans-serif;
    }
    main{
        margin-left: 20px;
        margin-right: 20px;
    
    }
     .navbar a:hover{
    background-color: hsl(0, 0%, 10%);
    }
    .navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    }
    .navbar a {
        text-decoration: none;
        color: white;
         text-align: centre;
    display: block;
    padding: 15px;
    }
    
    .navbar li{
        float: left;
    
    }