body{
  background-color: beige;
  color: #000 lete;
  font-family: poppins;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.navbar{
  list-style-type: none;
  display: flex;
  align-items: center;
}